$topbar-bg                                      : #222222;
$topbar-link-color                              : $white;
$topbar-link-hover-color                        : $theme-color;
$topbar-color                                   : #999999;
$topbar-font-size								: 12px;

$header-padding-top                             : 0;
$header-padding-bottom                          : 0;
$header-margin-bottom                           : 0;


$mainbody-bg									: #f6f6f6;