
.product-grid{
	&.style-mobile{
        background: $white;
        padding: 20px;
        margin:0;
        position: relative;
        @include transition(all 0.35s);
        border: none;
        .image{
            position: relative; 
            .onsale{
                top: 0;
                left: 0;
            } 
            .button-action{
                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: -55px;
                margin-top: -17.5px;
                @include opacity(1);
                > div{  
                    float: left;
                    margin-right: 2px!important;
                    margin-top: -30px!important;
                    @include transition-property(all);
                    @include transition-duration(0.35s);
                    @include opacity(0);
                    &.quick-view{
                        @include transition-delay(0, 0s);
                    }
                    &.yith-wcwl-add-to-wishlist{
                        @include transition-delay(0.25s, 0s);
                    }
                    &.yith-compare{
                        @include transition-delay(0.5s, 0s);
                    }
                    .title{
                        display: none;
                    }
                    a{
                        background: $theme-color-second;
                        color: $white;
                        line-height: 35px;
                        text-align: center;
                        @include size(35px, auto);
                        @include transition(all 0.35s);
                        border-radius:0;
                        &:hover{
                            background: $theme-color;
                        }
                    }
                }
            }   
        }
        .rating{
            overflow: hidden;
            > div{
                float: left;
            }
        }
        .price{
            position: absolute;
            top: 0;
            right: 0;
            background: #293240;
            padding: 6px 7px 7px 6px;
            &.old-price{
                padding: 0;
                background: $nocolor;
                ins{
                    clear: both;
                    display: block;
                    background: #E35250;
                    padding: 6px 7px 7px 6px;
                }
            } 
        }
        .add-button{
            .btn-cart{
                margin-top: 20px;
                .icon-cart{
                    display: none;
                }
                a{
                    font-weight: 700;
                    font-size: 12px;
                    height: 36px;
                    line-height: 36px;
                    .fa{
                        display: none;
                    }
                }
            }
        }

        .yith-wcwl-add-to-wishlist{
            a span, .feedback{
                display: none;
            }
            img{
                bottom: 0;
                height: 100%;
                left: 0;
                margin: auto;
                position: absolute;
                right: 0;
                top: 0;
                width: 100%;
            }
        }

        .caption{
            border-top: none;
        }
        .name{
            text-transform: none;
            padding: 0;
            text-align: left;
        }
		.meta{
            position: relative;
            display: block;
            > *{
                 padding: 15px 0 0;
                 width: 100%;
            }
            .price{
                display: none;
                background: none;
                text-align: left;
                position: static;
                color: $black;
                padding-top: 15px!important;
                ins{
                    display: inline-block;
                    background: none;
                    color: $black;
                    padding: 0;
                }
                del{
                    padding-top: 2px;
                }
            }
        }

        &:hover{
            .caption{
                border-color: $nocolor;
            }
            .button-action > div{
                @include opacity(1);  
                margin-top: 0!important;        
            }
        } 
        &:hover{
            .btn-cart a{
                background: $theme-color-second;
                border-color: $theme-color-second;
                color: $white;
                &:hover{
                    background: $theme-color;
                }
            }
        }
    }	
}	