
$topbar-bg                                      : #222222;
$topbar-link-color                              : $white;
$topbar-link-hover-color                        : $theme-color;
$topbar-color                                   : #999999;
$topbar-font-size								: 12px;

$header-padding-top                             : 0;
$header-padding-bottom                          : 0;
$header-margin-bottom                           : 0;

$breadcrumb-padding-top          				: 13px !important;
$breadcrumb-padding-bottom       				: 13px !important;
$breadcrumb-margin               				: 0 0 40px !important;
$breadcrumb-layout-bg			 				: #f6f6f6;
$breadcrumb-color				 				: #666666;
$breadcrumb-link-color		     				: #666666;

$mainbody-bg									: #f6f6f6;