$widget-product-list-padding			: 15px 0;

$product-name-font-size                 : 13px;
$product-price-old-color				: $black;

// Star
// -------------------------
$star-rating-color                      : #dbdbdb;
$star-rating-active-color               : #000000;
$star-rating-font-size                  : 9px;

$sale-label-bg							: #f44336;
$sale-label-padding						: 4px 10px;
$sale-label-color						: $white;

$product-category-hover-color			: $theme-color; 

$widget-product-list-font-size			: 14px;
$widget-product-list-text-transform		: none;